
Pacote download/LinqExercise/obj/project.nuget.cache
Pacote download/LinqExercise/bin/Debug/netcoreapp3.1/LinqExercise.deps.json
Pacote download/LinqExercise/bin/Debug/netcoreapp3.1/LinqExercise.dll
Pacote download/LinqExercise/bin/Debug/netcoreapp3.1/LinqExercise.exe
Pacote download/LinqExercise/bin/Debug/netcoreapp3.1/LinqExercise.pdb
Pacote download/LinqExercise/bin/Debug/netcoreapp3.1/LinqExercise.runtimeconfig.dev.json
Pacote download/LinqExercise/bin/Debug/netcoreapp3.1/LinqExercise.runtimeconfig.json
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.csproj.FileListAbsolute.txt
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.csproj.CoreCompileInputs.cache
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.csproj.AssemblyReference.cache
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.assets.cache
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.AssemblyInfoInputs.cache
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.AssemblyInfo.cs
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/apphost.exe
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Pacote download/LinqExercise/LinqExercise.csproj
Pacote download/LinqExercise/obj/project.assets.json
Pacote download/LinqExercise/obj/LinqExercise.csproj.nuget.g.targets
Pacote download/LinqExercise/obj/LinqExercise.csproj.nuget.g.props
Pacote download/LinqExercise/obj/LinqExercise.csproj.nuget.dgspec.json
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.pdb
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.genruntimeconfig.cache
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.GeneratedMSBuildEditorConfig.editorconfig
Pacote download/LinqExercise/obj/Debug/netcoreapp3.1/LinqExercise.dll
